[[source]]

url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true


[packages]

django = ">=2.0,<2.1"
djangorestframework = "*"
"psycopg2" = "*"


[requires]

python_version = "3.6"


[dev-packages]

tox-travis = "*"
